.HeaderContainer {
  display: grid;
  grid-template-areas: logo button nav;
}

.logo {
  grid-area: logo;
}
.button {
  grid-area: button;
}
.nav {
  grid-area: nav;
  background-color: gray;
  color: whitesmoke;
}
