.HeaderContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

.NewHeader {
  grid-template-columns: auto auto auto;
}

.logo {}

.button {
  justify-self: end;
}

.nav {
  background-color: gray;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li a {
  display: block;
  padding: 1em;
  color: whitesmoke;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #555;
  color: whitesmoke;
}

.active {
  background-color: #550;
  color: whitesmoke;
}
